@font-face {
    font-family: 'Michroma';
    src: url('/fonts/Michroma-Regular.woff2') format('woff2'),
        url('/fonts/Michroma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-Regular.woff2') format('woff2'),
        url('/fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

