@use "./styles/fonts.scss";
@use "./styles/variables.scss" as vars;
@use "./styles/reset.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Michroma", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  
  #experience-canvas {
    height: 100%;
    width: 100%;
  }
}

// Loading Screen - separate from modal
.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 108vw;
  height: 108vh;
  margin-left: -54vw;
  margin-top: -54vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  z-index: 999999;
  background: vars.$base-blue;
  border: 8px solid vars.$base-blue;
  transform: perspective(1000px);
  border-radius: 48px;
}

.loading-screen-button, .no-sound-button {
  font-family: "Michroma";

  background-color: vars.$base-blue;
  padding: 10px 40px;
  outline: none;
  color: vars.$base-black;
  border-radius: 1.2rem;
  border: 8px solid transparent;
  font-size: 42px;
  pointer-events: none;
  cursor: default;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.no-sound-button {
  font-size: 24px;
  padding: 8px 24px;
  padding-top: 0%;
}

// Modal styles
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-style: inset;
  border: 4px solid #2e367e;
  padding: auto;
  border-radius: 4px; 
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 999;
  display: none;
  background-color: vars.$base-blue;
  padding: 20px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: scroll;
  scrollbar-color: #3d5166ff transparent;
  scrollbar-width: thick;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border-color: #3d5166ff;
  border-style: solid;

  .modal-content {
    flex: 1;
    display: flex;
    padding-right: 10px;
    overflow-y: scroll;
    flex-direction: column;
    gap: 20px;
  }


  .modal-title {
    font-size: clamp(18px, 5vw, 32px);
    word-wrap: break-word;
    text-align: center;
    position: relative;
    padding-top: 10px;
    margin-bottom: 10px;

    font-family: "Michroma", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  h1,
  h2 {
    margin-bottom: 20px;
  }

  h2 {
    font-size: medium;
  }

  .modal-paragraph {
    font-size: clamp(12px, 4vw, 20px);
    word-wrap: break-word;
    margin-bottom: 5px;
    font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  &.about {
    justify-content: center;
    align-items: center;
  }

  .modal-exit-button {
    font-family: "Michroma", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    position: absolute;
    top: 3px;
    left: 14px;
    padding: 10px 20px;
    font-size: 16px;
    width: fit-content;
    padding-top: 5px;
    margin-top: 7px;
    cursor: pointer;
    background-color: #67809a75;
    color: #3d5166ff;
    border: 5px solid #3d5166ff;
    border-radius: 17px;
    z-index: 99999999;

    &:hover {
      background-color: rgba(47, 82, 120, 0.314);
    }
  }
  
}