@use "./styles/fonts.scss";
@use "./styles/variables.scss" as vars;
@use "./styles/reset.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Michroma", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  
  #experience-canvas {
    height: 100%;
    width: 100%;
  }
}

// Loading Screen - separate from modal
.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 108vw;
  height: 108vh;
  margin-left: -54vw;
  margin-top: -54vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  z-index: 999999;
  background: vars.$base-blue;
  border: 8px solid vars.$base-blue;
  transform: perspective(1000px);
  border-radius: 48px;
}

.loading-screen-button, .no-sound-button {
  font-family: "Michroma";

  background-color: vars.$base-black;
  padding: 10px 40px;
  outline: none;
  color: vars.$base-black;
  border-radius: 1.2rem;
  border: 8px solid transparent;
  font-size: 42px;
  pointer-events: none;
  cursor: default;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.no-sound-button {
  font-size: 24px;
  padding: 8px 24px;
  padding-top: 0%;
}

// Modal styles
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 999;
  display: none;
  background-color: vars.$base-blue;
  padding: 20px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: scroll;
  border-radius: 8px;
  border-color: white;
  border-style: outset;

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modal-title {
    font-size: clamp(18px, 5vw, 32px);
    word-wrap: break-word;
    align-items: center;
    font-family: "Michroma", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  h1,
  h2 {
    margin-bottom: 20px;
  }

  h2 {
    font-size: medium;
  }

  .modal-paragraph {
    font-size: clamp(12px, 4vw, 20px);
    word-wrap: break-word;
    margin-bottom: 5px;
    font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  &.about {
    justify-content: center;
    align-items: center;
  }

  .modal-exit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    align-self: flex-end;
    margin-top: auto;
    
    &:hover {
      background-color: #555;
    }
  }
  

}